@tailwind base;
@tailwind components;
@tailwind utilities;

/* optional global styles */
html, body, #__next {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif; /* optional default font */
}

